@import "../config";
@import "../buttons";
@import "../textareas";

.container {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 288px;
    gap: 16px;
    background: $bg-primary-color;
  }

  .btn-section {
    width: 60%;
    margin: 32px 0;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;

    p {
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      color: $font-tertiary-color;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      div {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
      }
    }

    button {
      height: 48px;
      width: 164px;
      border-radius: 50px;
      font-style: normal;
      font-size: 16px;
      font-weight: 600;
    }

    img {
      filter: drop-shadow(0px 10px 5px $font-tertiary-color);
      cursor: pointer;

      &:active {
        transform: scale(0.98);
        filter: none;
      }
    }
  }
}
