.container {
    display: flex;
    flex-direction: row;

    .api-key-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .api-key-button {
            width: fit-content;
        }

        div {
            display: flex;
            flex-direction: column;

            button {
                width: fit-content;
            }
        }
    }
}