%in {
  width: 100%;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  color: $font-tertiary-color;

  &:focus {
    outline: none;
  }
}

.in-primary {
  @extend %in;
}

.in-secondary {
  @extend %in;
  background: white;
}
